---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '';
---
<BaseLayout pageTitle={pageTitle} >
    <h2>Hey, I'm Philip Fuster.</h2>
    <p>I'm a software developer based in New Jersey.</p>
    <p>My full time job is as a back-end developer building a distributed API that powers an Enterprise Resource Planner web application.</p>
    <p>My goal with this site is to freely blog about the things I've learned on the job and outside of the job on personal projects, like this one.</p>
    <p>Follow this space for more!</p>
</BaseLayout>
